In [18]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [4]:
df

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369
...,...,...,...,...,...,...,...,...,...,...,...
9699,140,5.0,164.0,2981.107371,17.3,2013,Europe,Diesel,Front-wheel drive,NaN,15.101802
9700,180,NaN,154.0,2439.525729,15.0,2004,USA,Gasoline,All-wheel drive,0.0,17.962326
9701,220,2.0,138.0,2583.471318,15.1,2008,USA,Diesel,All-wheel drive,-1.0,17.186587
9702,230,4.0,177.0,2905.527390,19.4,2011,USA,Diesel,Front-wheel drive,1.0,15.331551
9703,270,3.0,140.0,2908.043477,14.7,2005,Asia,Diesel,All-wheel drive,-1.0,14.884467

In [5]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [6]:
pd.__version__

'2.3.1'

In [7]:
df.count()

engine_displacement    9704
num_cylinders          9222
horsepower             8996
vehicle_weight         9704
acceleration           8774
model_year             9704
origin                 9704
fuel_type              9704
drivetrain             9704
num_doors              9202
fuel_efficiency_mpg    9704
dtype: int64

In [8]:
row_count = len(df)
print(f"Number of records (rows): {row_count}")

Number of records (rows): 9704

In [10]:
unique_fuel_types = df['fuel_type'].unique()

In [11]:
print("The unique fuel types are:", unique_fuel_types)

The unique fuel types are: ['Gasoline' 'Diesel']

In [16]:
missing_counts = df.isnull().sum()

In [17]:
print("Missing counts per column:")
print(missing_counts)

Missing counts per column:
engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [18]:
num_columns_with_missing = (missing_counts > 0).sum()
print(f"\nNumber of columns with missing values: {num_columns_with_missing}")

Number of columns with missing values: 4

In [12]:
asian_cars_df = df[df['origin'] == 'Asia']

In [25]:
max_mpg_asian = asian_cars_df['fuel_efficiency_mpg'].max()

In [26]:
print(max_mpg_asian)

23.759122836520497

In [27]:
median_horsepower = df['horsepower'].median()
print(f"The median horsepower is: {median_horsepower}")

The median horsepower is: 149.0

In [5]:
most_frequent = df['horsepower'].mode()[0]
print("Most Frequent Value:", most_frequent)

Most Frequent Value: 152.0

In [6]:
original_median = df['horsepower'].median()
print("Original Median:", original_median)

Original Median: 149.0

In [8]:
df['horsepower'] = df['horsepower'].fillna(most_frequent)

In [10]:
if most_frequent > original_median:
    print("Yes, it increased.")
elif new_median < original_median:
    print("Yes, it decreased.")
else:
    print("No, it stayed the same.")

Yes, it increased.

In [13]:
asia_selected = asian_cars_df[['vehicle_weight', 'model_year']]

In [14]:
asia_top7 = asia_selected.head(7)

In [15]:
X = asia_top7.to_numpy()

In [16]:
XTX = X.T @ X

In [19]:
XTX_inv = np.linalg.inv(XTX)

In [20]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [21]:
w = XTX_inv @ X.T @ y

In [22]:
result = w.sum()
print("Sum of elements in w:", result)

Sum of elements in w: 0.5187709081074016